@using Scriptingo.Admin.Managers;
@using Scriptingo.Common;
@using Scriptingo.Common.Models;
@{
    ViewData["Title"] = Html.T("Home").ToString();
    Layout = "_LayoutPublic";
}
<div class="card">
    <div class="card-header">
        @Html.T("Welcome Latestapi.com")
    </div>
    <div class="card-body">
        @Html.T("Latestapi.com is a api development, management and deployment platform.")
        <br />
        @Html.T("You can create your own api with only insert your database connection. Latestapi.com generates your all crud functions.")
        <br />
        @Html.T("If you want to manage it onpromise, you can download .net core source code of your api with advanced documentation.")
        <br />
        @Html.T("Future Of Api Management")
    </div>
</div>
@section Scripts{
  
}

