@using Scriptingo.Admin.Managers;
@using Scriptingo.Common;
@using Scriptingo.Common.Models;
@{
    ViewData["Title"] = Html.T("Api List").ToString();
    ViewData["back_url"] = Url.Action("index", "dashboard").ToString();
    ViewData["create_url"] = Url.Action("edit", "api").ToString();
}
<div class="section mt-3 mb-3">
    <div class="card">
        <div class="card-body">
            <div id="conList"></div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        
        var manageIcon = function (cell, formatterParams) { //plain text value
            return "<i title='@Html.T("Manage")' class='fa fa-list'></i>";
        };
        var editIcon = function (cell, formatterParams) { //plain text value
            return "<i  title='@Html.T("Edit")'class='fa fa-edit'></i>";
        };
        var grid = new Tabulator("#conList", {
            layout: "fitColumns",
            responsiveLayout: "hide",
            ajaxURL: "/execute/ListApi",
            ajaxConfig: 'POST',
            ajaxContentType: 'json',
            ajaxResponse: function (url, params, response) {

                return response.data; //return the tableData property of a response json object
            },
            //height: 205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
            //layout: "fitColumns", //fit columns to width of table (optional)
            columns: [ //Define Table Columns
                //{ formatter: "responsiveCollapse", width: 30, minWidth: 30, hozAlign: "center", resizable: false, headerSort: false },
                {
                    formatter: manageIcon,
                    width: 40,
                    hozAlign: "center",
                    cellClick: function (e, cell) {
                        window.location.href = 'api/manage/' + cell.getRow().getData().api_code;
                    }
                },
                {
                    formatter: editIcon,
                    width: 40,
                    hozAlign: "center",
                    cellClick: function (e, cell) {
                        window.location.href = 'api/edit/' + cell.getRow().getData().api_code;
                    }
                },
                { title: "@Html.T("Api Code")", field: "api_code", hozAlign: "center" },
                { title: "@Html.T("Api Name")", field: "name", hozAlign: "left" },
                { title: "@Html.T("Active")", field: "active", hozAlign: "center", formatter: "tickCross", sorter: "boolean" },
                //{ title: "@Html.T("Description")", field: "description", hozAlign: "left" },
                { title: "@Html.T("Host")", field: "host", hozAlign: "left" },
                //{ title: "@Html.T("Api Uid")", field: "uid", hozAlign: "left" },

                
            ]
        });
        function refresh() {
            grid.setData();
        }
    </script>
}