

@model Scriptingo.Admin.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="login-form">
    <div class="section">
        <h1>@Html.T("Password Forget")</h1>
        <h4>@Html.T("Please insert e-mail adress and validation image text. We will post a e-mail to reset your password.")</h4>
    </div>
    <div class="section mt-2 mb-5">
        <form asp-action="ForgotPassword">
            <div class="form-group boxed">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-wrapper">
                    <input asp-for="Email" class="form-control" placeholder="@Html.T("E-Mail Adress")" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    <img class="captchaimage" src='data:image/Png;base64,@Model.CaptchaBase64' />
                    <input asp-for="CaptchaText" class="form-control" placeholder="@Html.T("Captcha Text")" />
                    <span asp-validation-for="CaptchaText" class="text-danger"></span>
                </div>
            </div>

            <div class="form-button-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg">@Html.T("Post")</button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
