@model Scriptingo.Admin.Models.PasswordResetModel

@{
    ViewData["Title"] = Html.T("Reset Password").ToString();
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="login-form">
    <div class="section">
        <h1>@Html.T("Password Reset")</h1>
        <h4>@Html.T("Please insert email and reset code to reset your password.")</h4>
    </div>
    <div class="section mt-2 mb-5">
        <form asp-action="PasswordReset">
            <div class="form-group boxed">
                <div asp-validation-summary="ModelOnly" class="text-danger "></div>
                <div class="input-wrapper">
                    @Html.T("Email")
                    <input asp-for="Email" autocomplete="off" class="form-control text-center" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    @Html.T("Reset Code")
                    <input asp-for="ResetCode" autocomplete="off"  class="form-control text-center" />
                    <span asp-validation-for="ResetCode" class="text-danger"></span>
                </div>
                <div class="input-wrapper">
                    @Html.T("New Password")
                    <input asp-for="NewPassword" type="password" autocomplete="off" class="form-control text-center" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-button-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg">@Html.T("Reset Password")</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
